* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f6f5f5;
  padding: 0 1rem;
}

.feature-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 3rem 0;
}

.feature-cards {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem 2rem;
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  height: auto;
  padding: 3rem 1rem;
}

@media screen and (max-width: 480px) {
  .feature-card {
    width: 100%;
  }
}

.feature-card-icon {
  margin: 0.5rem;
  height: 14rem;
}

.feature-card-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
}

.feature-card-text {
  font-size: 1.5rem;
  font-weight: normal;
  color: #737373;
  text-align: center;
  line-height: 2rem;
}
