* {
    margin: 0;
    padding: 0;
}

.header {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: 40px;
    width: 50px;
}

.nav-logo{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
}

.nav-links{
    font-size: 16px;
}

.nav-link-home{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #C66161;
    text-decoration: none;
}