* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

.hero {
    width: 100%; 
    height: 100vh;
    background-image: url("background.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 90%; 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    color: white;
    font-size: 48px;
    margin-bottom: 50px;
    
}
.hero-paragraph {
    color: white;
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
}

.hero-button {
    background-color: #c66161;
    color: white;
    font-size: 36px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    outline: none;  
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding-right: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 56px;   
    
}




